
section {
  width: 100%;
  max-width: 420px;
  /* min-height: 120px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
  margin:150px auto;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

input[type='text'],
input[type='password'],
button {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
  margin-top: 0.75rem;
}

label{
  margin-top: 1rem;
}

button {
  padding: 0.75rem;
}

button{
  margin-top: 1.75rem;
}